.rest {
	padding: 8px;
	border: 3px solid #fdc001;
	border-radius: 5px;
	font-weight: bold;
	width: 200px;
	height: 38px;
}

div#announcement-form {
	margin-top: 5% !important;
	margin-left: -1% !important;
}

div#buttons-Edit {
	margin-right: 0px !important;
	margin-top: 58px !important;
}

#data-table th, #data-table td {
	font-size: 17px !important;
}

#filter-form {
	margin: -6px 22px;
}

#search-bar input {
	margin-right: 100px !important;
}

#annoCreateEdit {
    width: 75% !important;
    margin-left: 127px !important;
}