/* ==============================下拉式選單CSS start================================================== */
.orderlist {
	list-style: none;
	font-size: 25px;
	padding-inline-start: 0px;
	unicode-bidi: isolate;
}

.orderlist {
	display: none;
	position: absolute;
	background-color: #ffdf7e;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 0.3cm;
}

.orderblock:hover .orderlist {
	display: block;
}

.orderlist li {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	color: black;
}

.orderlist a:hover {
	color: #e83e8c !important;
	text-decoration: none;
}

.orderlist li:hover {
	box-shadow: 0px 8px 16px 0px rgba(232, 62, 140, 0.15);
	border-radius: 10px;
}

.orderblock {
	margin-top: 30px;
	margin-bottom: 30px;
}

.navbar-light .navbar-nav .nav-link {
	padding: 50px 17px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 48px 144px !important;
}

#restform{
	border:1px solid #fffbeb;
	height:810px;
	margin-top:30px;
	background-color: #fffbeb;
	border-radius: 30px;
	width:97%;
	margin-bottom:40px;
}

#login-title{
	font-size:30px;
	font-weight:800;
	margin-bottom:20px;
	margin-top:15px;
	
}

.red{
color:red;
}

#restaurantForm{
	font-size:20px;
	padding-top:25px;
	text-align: left;
	margin-left:150px;

}

.input_form{
	width:550px;
	height:30px;
	border-radius: 20px;
	border: 2px solid #ccc;
	border-top: none;
	text-align: center;
	font-size:20px;
}

#description{
	height:70px;
}

.submit, .cancel{
	height:35px;
	width:120px;
	font-size:23px;
	border-radius: 10px;
	background-color:#ffc107;
	border:1px solid #ffc107;
	margin-top:10px;
	margin-bottom:20px;
}

.submit{
	margin-left:200px;
}

.cancel{
	margin-left:60px;
}

.submit:hover, .cancel:hover{
	background-color:#F195B2;
	border:1px solid #F195B2;
}

body{
	background-color:#F3F6FF;
}

.openDay{
	width:18px;
	height:18px;
	
}

/* ==============================下拉式選單CSS end================================================== */