@charset "UTF-8";
/* =============================黑名單的css================================== */
.contentmain_for_form{
  border: 1px solid #ffc107;
  border-radius: 2cm; 
  width: 80%;
  height: 700px;
  margin-left: 30px;
 margin-right: 30px;
display: flex;
justify-content: center;

}

.contentmain1{
  border-radius: 0.5cm;
  width: 50%;
  
}

.contentmain2{
  border-radius: 0.5cm;
  width: 50%;
  
}
.blist{
	    max-height: 650px; 
        overflow-y: auto; 
        padding: 10px;
        border-radius: 8px;
}

 .blist::-webkit-scrollbar {
        display: none;
    }

.blist {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }

.no_blacklist{
	border:1px solid white;
  list-style: none;
  margin-left: 10%;
  margin-right: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 7px;
  border-radius: 0.2cm;
  background-color: #fff2cc; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  color: blacklist;
  text-align: center;
  font-weight: 600;
  
}

.search_blacklist{
	border: none;
	background-color: #ffc107; 
	border-radius: 10cm;
}


    .delete_sussces, .add_sussces {
    display: none;    
    list-style: none;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 7px;
    border-radius: 0.2cm;
    background-color: #ffc107;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    color: black;
    text-align: center;
    font-weight: 600;
    
    }
    
    .already_add_blist{ 
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 7px;
    border-radius: 0.2cm;
    background-color: #ffc107;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 17px; 
    height:50px;
    }
    
    .add_success{
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 7px;
    border-radius: 0.2cm;
    background-color: #ffc107;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 17px; 
    height:50px;
    }
    
     .already_add_blist, .add_success {
        display: none;
    }
    .already_add_blist.show, .add_success.show {
        display: block;
    }
  
/* blist css */
.blist_detail{
  border:1px solid white;
  list-style: none;
  margin-left: 10%;
  margin-right: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 7px;
  border-radius: 0.5cm;
  background-color: #fff2cc; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  color: black;
  text-align: left;
  height: 170px;
}


.blist_detail li{
    font-size: 17px;
    margin-top: 10px;
}

#delete_blist{
 margin-left: 65%;
 border: 1px solid white;
 width: 120px;
 height: 35px;
 font-size: 15px;
 border-radius: 0.2cm;
 text-align: center;
 padding: 0;
 

}
.blist_detail:hover{
  background-color: white;
  
}
/* search box */
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  background: #ffc107;
  border: 2px solid white;
  border-radius: 2rem;
  margin-left: 9%;
 
}

.input-search{
  height: 3rem;
  width: 3rem;
  border-style: none;
  padding: 1.25rem;
  font-size: 1.125rem;
  letter-spacing: 0.125rem;
  outline: none;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
  background: #ffc107;
  color: white;
}

btn-search{
  width: 2rem;
  height: 2rem;
  border-style: none;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  transform: translate(-23%, 26%);
  right: 0;
  background: transparent;
  pointer-events: none;
  
}

.input-search:focus,
.input-search:not(:placeholder-shown){
  width: 410px;
  transition: all 600ms cubic-bezier(0, 0.11, 0.3, 2);
   text-align: center;
}

.main_content{
    display: flex;
    flex-wrap: nowrap;
}

  .search-box {
            display: flex;
            align-items: center;
        }
        .error-message {
            color: red;
            margin-left: 10px;
            visibility: hidden;
        }
        .error-message.visible {
            visibility: visible;
        }
        
/* ==========================黑名單css結束============================================================= */