<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- 	餐廳Filter	 -->
	<filter>
		<filter-name>RestaurantLoginFilter</filter-name>
		<filter-class>com.tia102g4.filter.RestaurantLoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>RestaurantLoginFilter</filter-name>
		<url-pattern>/frontstage/restaurantFrontend/restFeedback/restFeedback.html</url-pattern>
		<url-pattern>/frontstage/restaurantFrontend/restNews/restNews.html</url-pattern>
		<url-pattern>/frontstage/restaurantFrontend/blacklist/listAllBlackList.jsp</url-pattern>
		<url-pattern>/frontstage/restaurantFrontend/myorder/*</url-pattern>
		<url-pattern>/frontstage/restaurantFrontend/restaurantAboutUs/restaurantAboutUs.html</url-pattern>
		<url-pattern>/frontstage/restaurantFrontend/restaurantEdit/restaurantEdit.html</url-pattern>
	</filter-mapping>
	
	<!-- 	會員Filter	 -->
	<filter>
		<filter-name>MemberLoginFilter</filter-name>
		<filter-class>com.tia102g4.filter.MemberLoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>MemberLoginFilter</filter-name>
		<url-pattern>/frontstage/memberFrontend/memberFeedback/*</url-pattern>
		<url-pattern>/frontstage/memberFrontend/myorder/*</url-pattern>
		<url-pattern>/frontstage/memberFrontend/favorite/favoriteList.jsp</url-pattern>
		<url-pattern>/frontstage/memberFrontend/event/*</url-pattern>
		<url-pattern>/frontstage/memberFrontend/room/*</url-pattern>
		<url-pattern>/frontstage/memberFrontend/vote/*</url-pattern>
	</filter-mapping>

</web-app>
